{{ partial "header.html" . }}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ .Site.BaseURL }}/img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Postagens</h1>
          <span class="subheading">{{ .Description }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {{ range (.Paginate ( .Data.Pages )).Pages }}
      {{ .Render "summary"}}
      {{ end }}
      <!-- Pager -->
      <div class="clearfix">
        {{ if .Paginator.HasPrev }}
        <a class="btn btn-primary float-left" href="{{ .Paginator.Prev.URL }}">&larr; Novas Postagens</a>
        {{ end }}
        {{ if .Paginator.HasNext }}
        <a class="btn btn-primary float-right" href="{{ .Paginator.Next.URL }}">Postagens Anteriores &rarr;</a>
        {{ end }}
      </div>
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
