<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" prefix="og: http://ogp.me/ns#">
  {{ partial "head.html" .}}
<body>
{{ partial "navbar.html" .}}

<!-- Page Header -->
{{ if isset .Params "thumbnail" }}
<header class="masthead" style="background-image: url('{{ .Site.BaseURL }}{{ .Params.thumbnail }}')">
  {{ else }}
<header class="masthead" style="background-image: url('{{ .Site.BaseURL }}{{ .Site.Params.thumbnail }}')">
{{ end }}
  <div class="overlay"></div>
  <div class="container">
    <div class="page-heading">
      <h1>{{ .Title }}</h1>
      <span class="subheading">{{ .Description }}</span>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="portfolio">
    {{ range $.Site.Data.portfolio.itens }}
      <div class="portfolio-item">
        <img class="portfolio-item-img" src="{{ .thumb }}" alt="{{ .name }}">
        <div class="portfolio-item-content">
          <h4>{{ .name }}</h4>
          <p>{{ .description }}</p>
        </div>
      </div>
    {{ end }}
  </div>
</div>

{{ partial "footer.html" . }}

</body>
</html>
