<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" prefix="og: http://ogp.me/ns#">
  {{ partial "head.html" .}}
<body>
{{ partial "navbar.html" .}}

<!-- Page Header -->
<header role="banner" class="masthead" style="background-image: url('{{ .Site.BaseURL }}{{ .Params.thumbnail }}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="page-heading">
      <h1>{{ .Title }}</h1>
      <span class="subheading">{{ .Description }}</span>
    </div>
  </div>
</header>

<!-- Main Content -->
<main role="main" class="container">
  <div class="portfolio">
    {{ range $.Site.Data.portfolio.itens }}
      <div class="portfolio-item">
        <img class="portfolio-item-img" src="{{ .thumb }}" alt="{{ .name }}">
        <div class="portfolio-item-content">
          <h4>{{ .name }}</h4>
          <p>{{ .description }}</p>
        </div>
      </div>
    {{ end }}
  </div>
</main>

{{ partial "footer.html" . }}

</body>
</html>
