{{ partial "header.html" .}}

<!-- Page Header -->
<header class="masthead" style="background-image: url('img/snapshot.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>{{ .Site.Title }}</h1>
          <span class="subheading">{{ .Site.Params.Description }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {{ $posts := or .Site.Params.PostSummariesFrontPage 4 }}
      {{ range first $posts ( where .Data.Pages "Type" "blog" ) }}
        {{ .Render "summary"}}
      {{ end }}
      <!-- Pager -->
      <div class="clearfix">
        {{ if .Paginator.HasNext }}
        <a class="btn btn-primary float-right" href="blog">Mais Artigos &rarr;</a>
        {{ end }}
      </div>
    </div>
  </div>
</div>

{{ partial "footer.html" .}}
