<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" prefix="og: http://ogp.me/ns#">
  {{ partial "head.html" .}}
<body>
{{ partial "navbar.html" .}}

<!-- Page Header -->
<header role="banner" class="masthead" style="background-image: url('{{ .Site.BaseURL }}/img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="site-heading">
      <h1>Postagens</h1>
      <span class="subheading">{{ .Description }}</span>
    </div>
  </div>
</header>

<!-- Main Content -->
<main role="main" class="container">
  <div>
    {{ range (.Paginate ( .Data.Pages )).Pages }}
    {{ .Render "summary"}}
    {{ end }}
  </div>
  <!-- Pager -->
  <div class="paginator">
    {{ if .Paginator.HasPrev }}
    <a class="paginator-prev mdc-button mdc-button--raised" href="{{ .Paginator.Prev.URL }}">&larr; Novas Postagens</a>
    {{ end }}
    {{ if .Paginator.HasNext }}
    <a class="paginator-next mdc-button mdc-button--raised" href="{{ .Paginator.Next.URL }}">Postagens Anteriores &rarr;</a>
    {{ end }}
  </div>
</main>

{{ partial "footer.html" . }}

</body>
</html>
