<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" prefix="og: http://ogp.me/ns#">
  {{ partial "head.html" .}}
<body>
{{ partial "navbar.html" .}}

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header role="banner" class="masthead" style="background-image: url('{{ .Site.BaseURL }}{{ .Params.thumbnail }}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="post-heading">
      <h1>{{ .Title }}</h1>
      <h2 class="subheading">{{ .Description }}</h2>
      <div class="meta">
        {{ partial "meta.html" .}}
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<main role="main" class="container">
  <article>
    {{ .Content }}
  </article>
  <hr>
  {{ partial "comments.html" .}}
</main>

{{ partial "footer.html" .}}

</body>
</html>
