:root {
  --primary: #6ea9ff;
  --background: #4c475d;
  --foreground: #1e1e1e;
  --primary-contrast: #000000;
  --background-contrast: #ffffff;
  --foreground-contrast: #ffffff;
  --text-color: var(--foreground-contrast);
  --text-color-light: color-mix(in srgb, var(--foreground-contrast), var(--foreground) 50%);
  --text-color-dark: color-mix(in srgb, var(--foreground-contrast), var(--foreground) 20%);
  --primary-color: var(--primary-color);
  --primary-color-light: color-mix(in srgb, var(--primary-contrast), var(--primary-color) 50%);
  --primary-color-dark: color-mix(in srgb, var(--primary-contrast), var(--primary-color) 20%);
  --background-color: var(--background);
  --background-color-light: color-mix(in srgb, var(--background-contrast), var(--background) 50%);
  --background-color-dark: color-mix(in srgb, var(--background-contrast), var(--background) 20%);
  --foreground-color: var(--foreground);
  --foreground-color-light: color-mix(in srgb, var(--foreground-contrast), var(--foreground) 50%);
  --foreground-color-dark: color-mix(in srgb, var(--foreground-contrast), var(--foreground) 20%);
  --border-color: var(--background-color-light);
  --font-serif: "Merriweather", serif;
  --font-sans: "Open Sans", sans-serif;
  --font-size: 16px;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --color1: #1e1e1e;
    --color1-light: #4c475d;
    --color1-shade: #303030;
    --color1-contrast: #fff;

    --color2: #1e1e1e;
    --color2-light: #3c3c3c;
    --color2-shade: #2b2b2b;
    --color2-contrast: #fff;

    --color3: #6ea9ff;
    --color3-light: #b39ddb;
    --color3-shade: #1565c0;
    --color3-contrast: #fff;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --color1: #fafafa;
    --color1-light: #eef1f4;
    --color1-shade: #fafafa;
    --color1-contrast: #292929;

    --color2: #fff;
    --color2-light: #eee;
    --color2-shade: #eee;
    --color2-contrast: #1b1b1b;

    --color3: #1565c0;
    --color3-light: #1976d2;
    --color3-shade: #0d47a1;
    --color3-contrast: #fff;
  }
}

@scope (html[data-theme="dark"]) {
  :scope {
    --color1: rgb(30 30 30);
    --color1-light: #4c475d;
    --color1-shade: #303030;
    --color1-contrast: #fff;

    --color2: #1e1e1e;
    --color2-light: #3c3c3c;
    --color2-shade: #2b2b2b;
    --color2-contrast: #fff;

    --color3: rgb(110 169 255);
    --color3-light: #b39ddb;
    --color3-shade: #1565c0;
    --color3-contrast: #fff;
  }
}

@scope (html[data-theme="light"]) {
  :scope {
    --color1: #faf9f6;
    --color1-light: #777777;
    --color1-shade: #edeade;
    --color1-contrast: #292929;

    --color2: #f9f6ee;
    --color2-light: #7a7a7a;
    --color2-shade: #777777;
    --color2-contrast: #1b1b1b;

    --color3: #1565c0;
    --color3-light: #1976d2;
    --color3-shade: #0d47a1;
    --color3-contrast: #fff;
  }
} */
