<!-- Footer -->
<footer class="footer">
  <div class="container">
    <ul class="list-inline">
      {{ with .Site.Params.email }}
      <a class="list-inline-item mdc-fab" href="mailto:{{ . }}">
        <i class="mdc-fab__icon far fa-envelope"></i>
      </a>
      {{ end }}
      {{ if isset .Site.Params "social" }}
      {{ range .Site.Params.social }}
      <a class="list-inline-item mdc-fab" href="{{ .url }}" target="_blank">
        <i class="mdc-fab__icon fab fa-{{ .title }} "></i>
      </a>
      {{ end }}
      {{ end }}
    </ul>
    <p class="copyright">Copyright &copy; {{ .Site.Title }} {{ dateFormat "2006" now }}</p>
  </div>
</footer>

<script src="{{ .Site.BaseURL }}js/bundle.js"></script>
{{ template "_internal/google_analytics.html" . }}
