<time class="post-date" datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00 " | safeHTML }}">
   Postado {{ index $.Site.Data.semana (printf "%s" .Date.Weekday) }}, {{ .Date.Day }} de {{ index $.Site.Data.meses (printf "%d" .Date.Month) }} de {{ .Date.Year }}
</time>
<br />
{{ if .Site.Params.ShowReadTime }}
  <i class="far fa-clock"></i>
  {{ $l := .ReadingTime }}
  {{ if lt 1 ($l) }}
    Leia em {{ .ReadingTime }} Minutos
  {{ else }}
    Leia em menos de 1 Minuto
  {{ end }}
{{ end }}

{{ if .Params.music }}
- <i class="fas fa-music"></i> Ouvindo
<a href="{{ .Params.music.url }}" target="_blank" rel="noopener">{{ .Params.music.title }}</a>.
{{ end }}

<br />
