<p class="post-meta-date">
  <time datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00 " | safeHTML }}">
     Postado {{ index $.Site.Data.semana (printf "%s" .Date.Weekday) }}, {{ .Date.Day }} de {{ index $.Site.Data.meses (printf "%d" .Date.Month) }} de {{ .Date.Year }}
  </time>
</p>
<p class="post-meta-read">
  {{ if .Site.Params.ShowReadTime }}
    <i class="far fa-clock"></i>
    {{ $l := .ReadingTime }}
    {{ if lt 1 ($l) }}
      <span>Leia em {{ .ReadingTime }} Minutos</span>
    {{ else }}
      <span>Leia em menos de 1 Minuto</span>
    {{ end }}
  {{ end }}
  {{ if .Params.music }}
  <i class="fas fa-music"></i> <span>Ouvindo</span>
  <a href="{{ .Params.music.url }}" target="_blank" rel="noopener">{{ .Params.music.title }}</a>
  {{ end }}
</p>
