<aside class="mdc-drawer mdc-drawer--modal">
  <div class="mdc-drawer__content">
    <div class="mdc-list">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <a class="mdc-list-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}  mdc-list-item--activated {{end}}"
        href="{{ .URL }}"
        {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}  aria-selected="true" {{end}}>
        <span class="mdc-list-item__text">{{ .Name }}</span>
      </a>
      {{end}}
    </div>
  </div>
</aside>
<div class="mdc-drawer-scrim"></div>

<!-- Navigation -->
<nav role="navigation" class="navbar">
  <div class="container">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    <button class="mdc-button navbar-toggler">
      <span class="mdc-button__label">Menu</span>
      <i class="mdc-button__icon fas fa-bars"></i>
    </button>

    <ul class="navbar-nav">
      {{ range .Site.Menus.main }}
      <li class="nav-item">
        <a href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{end}}
    </ul>

  </div>
</nav>
