<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" prefix="og: http://ogp.me/ns#">
  {{ partial "head.html" .}}
<body>
{{ partial "navbar.html" .}}

<!-- Page Header -->
<header role="banner" class="masthead" style="background-image: url('img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="site-heading">
      <h1>{{ .Site.Title }}</h1>
      <span class="subheading">{{ .Site.Params.Description }}</span>
    </div>
  </div>
</header>

<!-- Main Content -->
<main role="main" class="container">
  <div class="col-lg-8 col-md-10 mx-auto">
    <div class="post-preview">
      <p class="post-meta"><a href="{{ .Site.BaseURL }}">Index</a>
        <br />
      </p>
    </div>
    <div class="post-preview">
      <p class="post-meta"><a href="{{ .Site.BaseURL }}/blog/">Archives</a>
        <br />
      </p>
    </div>
  </div>
</main>

{{ partial "footer.html" .}}

</body>
</html>
