<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" prefix="og: http://ogp.me/ns#">
  {{ partial "head.html" .}}
<body>
{{ partial "navbar.html" .}}

<!-- Page Header -->
<header role="banner" class="home-header masthead">
  <div class="overlay video-viewport">
    <video class="video" muted loop autoplay preload="auto" poster="img/snapshot.jpg">
      <source src="videos/video.mp4" type="video/mp4">
      <source src="videos/video.ogv" type="video/ogg">
      <source src="videos/video.webm" type="video/webm">
    </video>
  </div>
  <div class="container">
    <div class="site-heading">
      <img src="img/self.jpg" alt="{{ .Site.Title }}">
      <div>
        <h1>I'm <span id="typed"></span><span class="seo-friendly">{{ .Site.Title }}</span></h1>
        <span class="subheading">{{ .Site.Params.Description }}</span>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<main role="main" class="container">
  <div>
    {{ $posts := or .Site.Params.PostSummariesFrontPage 4 }}
    {{ range first $posts ( where .Data.Pages "Type" "blog" ) }}
    {{ .Render "summary"}} {{ end }}
  </div>
  <!-- Pager -->
  <div class="paginator">
    {{ if .Paginator.HasNext }}
    <a class="paginator-next mdc-button mdc-button--raised" href="blog">Mais Artigos &rarr;</a>
    {{ end }}
  </div>
</main>

{{ partial "footer.html" .}}

</body>
</html>
