<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" prefix="og: http://ogp.me/ns#">
  {{ partial "head.html" .}}
<body>
{{ partial "navbar.html" .}}

<!-- Page Header -->
<header role="banner" class="masthead" style="background-image: url('{{ .Site.BaseURL }}/img/contact-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="page-heading">
      <h1>{{ .Title }}</h1>
      <span class="subheading">{{ .Description }}</span>
    </div>
  </div>
</header>

<!-- Main Content -->
<main role="main" class="container">
  <div>{{ .Content }}</div>
  <form class="contact-form" name="rodrigoalves_me" id="contactForm" autocomplete="off" netlify-honeypot="bot-field" netlify>

    <div class="bot-field" hidden>
      <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
    </div>

    <div class="mdc-text-field-nome mdc-text-field mdc-text-field--outlined w-50 mb-3">
      <input type="text" id="name-tf-outlined" required name="nome" class="mdc-text-field__input">
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__notch">
          <label for="name-tf-outlined" class="mdc-floating-label">Digite seu Nome</label>
        </div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>

    <div class="mdc-text-field-email mdc-text-field mdc-text-field--outlined w-50 mb-3">
      <input type="email" id="email-tf-outlined" required name="email" class="mdc-text-field__input">
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__notch">
          <label for="email-tf-outlined" class="mdc-floating-label">Digite seu Email</label>
        </div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>

    <div class="mdc-text-field-message mdc-text-field mdc-text-field--textarea mdc-text-field--outlined w-100 mb-3">
      <textarea id="textarea" class="mdc-text-field__input" name="message" required rows="4" cols="40"></textarea>
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__notch">
          <label for="tf-outlined" class="mdc-floating-label">Mensagem</label>
        </div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>

    <div class="recaptcha" data-netlify-recaptcha></div>

    <button type="submit" class="mdc-button mdc-button--raised">Enviar</button>

  </form>
</main>

{{ partial "footer.html" . }}

</body>
</html>
