---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Postado
                    {% assign d = page.date | date: "%a" %}
                    {% assign m = page.date | date: "%-m" %}
                    {% case d %}
                      {% when "Sun" %}no Domingo
                      {% when "Mon" %}na Segunda feira
                      {% when "Tue" %}na Terça feira
                      {% when "Wed" %}na Quarta feira
                      {% when "Thu" %}na Quinta feira
                      {% when "Fri" %}na Sexta feira
                      {% when "Sat" %}no Sábado
                    {% endcase %}
                    {{ page.date | date: "%-d de " }}
                    {% case m %}
                      {% when '1' %}Janeiro
                      {% when '2' %}Fevereiro
                      {% when '3' %}Março
                      {% when '4' %}Abril
                      {% when '5' %}Maio
                      {% when '6' %}Junho
                      {% when '7' %}Julho
                      {% when '8' %}Agosto
                      {% when '9' %}Setembro
                      {% when '10' %}Outubro
                      {% when '11' %}Novembro
                      {% when '12' %}Dezembro
                    {% endcase %}
                    {{ page.date | date: " de %Y" }}
                    | <i class="fa fa-clock-o"></i>
                    {% assign l = page.content | number_of_words | divided_by:180 %}
                    {% if l > 1 %} Leia em {{ l }} Minutos {% else %}Leia em menos de 1 Minuto{% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

				{{ content }}

                <hr>
                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Postagem Anterior</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Proxima Postagem &rarr;</a>
                    </li>
                    {% endif %}
                </ul>
                <hr>
                {% include disqus.html %}
            </div>
        </div>
    </div>
</article>

<hr>
