.contact-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .bot-field{
    display: none;
    visibility: hidden;
  }
  .mdc-text-field-nome,
  .mdc-text-field-email{
    width: 100%;
    margin-bottom: 15px;
    @media only screen and (min-width: 768px) {
      width: 50%;
    }
  }
  .mdc-text-field-message{
    width: 100%;
  }
  .recaptcha{
    margin: 15px 0;
  }
  .mdc-button{
    background-color: var(--primary);
    margin: 20px 0;
  }
}
