header.home-header {
  .site-heading{
    img{
      border-radius: 50%;
      width: 200px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }
    .seo-friendly{
      display: none;
      visibility: hidden;
    }
  }
  .video-viewport {
    overflow: hidden;
    video {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
      overflow: hidden;
    }
  }
}
