// Styling for the navbar
.navbar {
  width: 100%;
  position: absolute;
  background-color: transparent;
  text-shadow: 2px 2px 2px rgba(0,0,0,.5);
  z-index: 2;
  @include sans-serif-font;
  .container {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media only screen and (min-width: $break-point-mobile) {
      max-width: 80vw;
    }
  }
  .navbar-brand {
    font-weight: 800;
    text-decoration: none;
    color: var(--primary-contrast);
    padding: 7px;
    margin-right: auto;
    border-radius: 4px;
    &:focus,
    &:active,
    &:hover {
      color: var(--secundary);
      box-shadow: 0 0 1px 1px var(--secundary);
    }
  }
  .navbar-toggler {
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
    padding: 5px 15px;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 4px;
    color: var(--primary-contrast);
    &:focus,
    &:active,
    &:hover {
      color: var(--secundary);
      box-shadow: 0 0 1px 1px var(--secundary);
    }
  }
  .navbar-nav {
    display: none;
    visibility: hidden;
  }
  @media only screen and (min-width: $break-point-mobile) {
    .navbar-toggler{
      display: none;
      visibility: hidden;
    }
    .navbar-nav {
      display: block;
      visibility: visible;
      padding: 0;
      margin: 15px 0;
      > .nav-item {
        display: inline-block;
        list-style: none;
        padding: 5px 2px;
        margin: 0px;
        > a {
          border-radius: 4px;
          text-decoration: none;
          padding: 0 15px;
          color: var(--primary-contrast);
          &:focus,
          &:active,
          &:hover {
            color: var(--secundary);
            box-shadow: 0 0 1px 1px var(--secundary);
          }
        }
      }
    }
  }
}

.mdc-drawer{
  background-image: linear-gradient(8deg, hsl(300, 100%, 15%), hsla(220,40%,4%,1) 50%);
  overflow: hidden;
  .mdc-drawer__content::before{
    content: '';
    animation: slide 8s linear infinite;
    background-image: url('/img/stars.svg');
    background-position: center center;
    background-size: 240px;
    height: 400%;
    width: 400%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .mdc-list-item{
    border-radius: 4px;
    background-color: var(--secundary-contrast);
    color: var( --secundary);
    #{&}--activated,
    &:focus,
    &:active,
    &:hover {
      color: var(--secundary);
      box-shadow: 0 0 1px 1px var(--secundary);
    }
  }
}

@keyframes slide {
  from { transform: translate3d(0, 0, 0); }
  to { transform: translate3d(-240px, -240px, 0); }
}
