// Styling for the post page
.post-preview {
  &:not(:last-child){
    border-bottom: 1px solid var(--medium);
    &:after {
      display: block;
      content: '';
      width: 5px;
      height: 5px;
      position: relative;
      top: 3px;
      left: 50%;
      margin-left: -5px;
      background: var(--medium);
      border-radius: 100%;
      box-shadow: #fff 0 0 0 5px;
   }
  }
  > a {
    text-decoration: none;
    &:focus,
    &:hover {
      color: var(--primary);
    }
  }
  .post-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .post-description {
    font-weight: 300;
    margin: 10px 0;
  }
  .post-meta {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 30px;
    color: var(--medium);
    i { margin-right: 5px; }
    p { margin: 0px; }
    > a {
      text-decoration: none;
      color: var(--medium);
      &:focus,
      &:hover {
        text-decoration: underline;
        color: var(--primary);
      }
    }
  }
  @media only screen and (min-width: 768px) {
    > a {
      > .post-title {
        font-size: 36px;
      }
    }
  }
}

hr{
  margin: 35px 0;
  border: none;
  border-bottom: 1px solid var(--medium);
  &:after {
    display: block;
    content: '';
    width: 5px;
    height: 5px;
    position: relative;
    top: -2px;
    left: 50%;
    margin-left: -5px;
    background: var(--medium);
    border-radius: 100%;
    box-shadow: #fff 0 0 0 5px;
  }
}

.grid-angular-pag{
  display: flex;
  flex-direction: column;
  align-items: center;
  > div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    span {
      text-align: center;
      width: 25px;
    }
    strong{
      color: #F44336;
    }
  }
}
