$img-filtro: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACJJREFUeNpiZGBg8AVihv///28G0UwMaIARKIMigKECIMAASJsHAYcd2RAAAAAASUVORK5CYII=);
$break-point-mobile: 992px;

@mixin serif-font() {
  font-family: 'Lora', 'Times New Roman', serif;
}
@mixin sans-serif-font() {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

:root{
  --primary: hsl(270, 100%, 30%);
  --primary-contrast: #fff;
  --secundary: #fff700;
  --secundary-contrast: #000;
  --medium: hsl(275, 5%, 30%);
  --mdc-theme-primary: hsl(270, 100%, 30%);
  --mdc-theme-primary: var(--primary);

}
