{{ partial "header.html" . }}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ .Site.BaseURL }}/img/contact-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>{{ .Title }}</h1>
          <span class="subheading">{{ .Description }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {{ .Content }}
      <form name="sentMessage" id="contactForm" novalidate autocomplete="contact"  method="POST" netlify-honeypot="bot-field" netlify>
        <div class="invisible d-none">
          <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
        </div>
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Nome</label>
            <input type="text" class="form-control" placeholder="Nome" id="name" required
              data-validation-required-message="Por favor, insira seu nome." name="nome">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Email" id="email" required
              data-validation-required-message="Por favor, insira seu email." name="email">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Mensagem</label>
            <textarea name="message" rows="5" class="form-control" placeholder="Mensagem" id="message" required
              data-validation-required-message="Por favor, digite uma mensagem."></textarea>
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <br>
        <div data-netlify-recaptcha></div>
        <div id="success"></div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
